@font-face {
	font-family: "sfpro";
	src: url("sfpro.woff2") format("woff2"), url("sfpro.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Segoe UI Custom";
	src: url("segoe.ttf") format("truetype");
}
@font-face {
	font-family: "Heroeau";
	src: url("heroeau.otf") format("opentype"),
		url("heroeau.ttf") format("truetype");
}
